
  .group-section h1{
    font-size: 33px;
    font-weight: 700;
  }
  .text-primary{
    color: #00a7e5;
  }
  .fs-italic{
    font-style: italic;
  }
  
  ul li {
    list-style: none;
  }
  
  .fc{
    color: #a0a3bd;
  }
  .fc1{
    color: #222222;
  }
  .fc2{
    color: #717171;
  }
  .fc3{
    color: #007099;
  }
  .br-20{
    border-radius: 20px;
  }
  .br-t{
    border-radius: 20px 20px 0px 0px;
  }
  .br-b{
    border-radius: 0px 0px 20px 20px;
  }
  .card-title {
    margin-bottom: 4px;
  }
  
  /* .catagories */
  
  .catagories ul { 
    padding: 0; 
    list-style: none; 
    text-align: center;
  }
  .catagories li { 
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative; 
    /* padding: 15px 0; */
  }
  .catagories a {
    display: inline-flex;
      align-items: center;
      padding: 8px 0px;
      gap: 10px;
      font-size: 13px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: .25px;
      color: #a0a3bd;
      position: relative;
    
    text-transform: uppercase;
    text-decoration: none;
    
    /* display: inline-block; */
  }
  .catagories a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #222222;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .catagories a:hover:after { 
    width: 100%; 
    left: 0; 
    color: #222222;
  
  }
  .catagories a:hover { 
    color: #222222;
  }
  .active {
    color: #222222 !important;
  }
  
  .search-section .form-control{
    font-family: "Poppins", sans-serif;
      display: block;
      width: 400px !important;
      height: calc(1.5em + .75rem + 2px);
      padding: .375rem .75rem;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.5;
      color: #a0a3bd !important;
      background-color: #fff;
      background-clip: padding-box;
      border: none !important;
      border-radius: 1.25rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      box-shadow: none !important;
  }
  .date-time-section{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .protector{
    width: 2px;
      height: 30px;
      background: #a0a3bd;
      margin-right: 20px;
  }
  .search-section{
    width: 100%;
    background: transparent;
    border: 2px solid #a0a3bd;
    border-radius: 99px;
    height: 60px;
  }
  .search-btn{
    position: absolute;
    right: 3px;
    box-shadow: none !important;
    padding: 12px 22px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fcfcfc;
    background: #00a7e5;
    border: 1px solid #00a7e5;
    height: 48px;
    border-radius: 54px;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: .25px;
  }
  .coaching-center{
    border-radius: 20px;
      background: #d2f3ff;
      padding: 36px 42px;
      min-height: 450px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .service-icon{
    width: 48px;
      height: 48px;
      background: #fff;
      border-radius: 99px;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      color: #00a7e5;
      margin-right: 16px;
  }
  
  
  .primary-btn {
    border-radius: 54px;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: .25px;
    display: inline-flex;
    padding: 12px 22px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fcfcfc;
    background: #00a7e5;
    border: 1px solid #00a7e5;
    height: 48px;
    transition: all .3s ease-in-out;
  }
  .mr15{
    margin-right: 15px;
  }
  .box-img{
    position: relative;
    border-radius: 20px;
    display: block;
    height: 232px;
  }
  .box-img img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  .box-img .list-text{
    position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      right: 0;
      padding: 20px;
      border-radius: 20px;
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 1px;
      color: #fff;
      text-align: center;
      background: linear-gradient(0deg, rgba(0, 10, 15, .72) 20.31%, rgba(0, 10, 15, 0) 82.81%);
  }
  .review-card{
    background: #fcfcfc;
    border: 1px solid #eff0f6;
    border-radius: 12px;
    padding: 40px 20px;
  }
  .bg-c{
    background: #fcfcfc;
  
  }