.login-img{
    height: 100vh;
    background: #e5f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-img img{
    width: 70%;
    height: 70%;
}
.login-form{
    padding: 40px 20px;
}
.login-form .form-control{
    margin-bottom: 20px;
    border: none;
    color: #6e7191;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .75px;
    width: 100%;
    border-radius: 16px;
    background: #eff0f6;
    height: 56px;
    border: none;
    padding: 6px 20px;
}
.login-form .form-check-input{
    border: 1px solid #000;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    outline: 0;
    padding: 0 !important;
    /* vertical-align: text-top; */
    height: 20px;
    width: 20px;
  
}
.form-check-label{
    margin-top: 4px;
    margin-left: 20px;
}
.login-form .btn-primary{
    border-radius: 54px;
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: .25px;
    display: inline-flex;
    padding: 12px 22px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fcfcfc;
    background: #00a7e5;
    border: 1px solid #00a7e5;
    height: 48px;
    width: 100%;
    transition: all .3s ease-in-out;
    
}
.login-form form{
    width: 430px;
    margin: 0 auto;
}