
body {
  margin: 0;
  font-family: "Poppins", sans-serif;

}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.footer-ic {
  transition: all .2s ease-in-out;
}
.footer-ic:hover {
  transform: translateY(-5px);
  transition: all .2s ease-in-out;
}
footer ul li a:hover {
  text-decoration: none;
}
.bt{
  border-top: 1px solid #D9DBE9;
}

.special:hover{
  color: #fff;
}
.dropdown-toggle{
  border: 2px solid#717171;
  color: #717171;
  border-radius: 20px;
}
.date-time-sm{
  border: 1px solid #d9dbe9;
  padding: 10px 0;
  margin: 16px 0;
  width: 100%;
  border-radius: 8px;
}


@media (max-width: 555px) {
  .navbar-brand img {
      height: 30px;
      width: 130px;
  }

}
@media (max-width: 576px) {
  .user-btn{
    padding: 7px 14px;
  }
  .coaching-center{
    border-radius: 20px;
    background: #d2f3ff;
    padding: 16px 10px;
    min-height: 390px;
    height: 100%;
    display: flex;
    flex-direction: column;
      justify-content: space-between;
  }
  .service-icon {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: #00a7e5;
    margin-right: 16px;
  }
  .coaching-b{
    margin-bottom: 12px !important;
  }
  .footer-logo{
    margin-top: 20px;
  }
  .footer-logo img{
    width: 130px ;
    height: 35px;
  }
}
@media (max-width: 992px) {
  .search-section .form-control{
      width: 250px !important;

  }
  .date-time-section{
    font-size: 15px;
  }
  .protector{
    width: 2px;
    height: 25px;
    background: #a0a3bd;
    margin-right: 10px;
  }
}
@media (max-width: 336px) {
  .user-btn{
    margin-top: 10px !important;
  }
}
@media (max-width: 375px) {
 
}



/* font sizes  */


.fs-1 { font-size: 1px; }
.fs-2 { font-size: 2px; }
.fs-3 { font-size: 3px; }
.fs-4 { font-size: 4px; }
.fs-5 { font-size: 5px; }
.fs-6 { font-size: 6px; }
.fs-7 { font-size: 7px; }
.fs-8 { font-size: 8px; }
.fs-9 { font-size: 9px; }
.fs-10 { font-size: 10px; }
.fs-11 { font-size: 11px; }
.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }
.fs-15 { font-size: 15px; }
.fs-16 { font-size: 16px; }
.fs-17 { font-size: 17px; }
.fs-18 { font-size: 18px; }
.fs-19 { font-size: 19px; }
.fs-20 { font-size: 20px; }
.fs-21 { font-size: 21px; }
.fs-22 { font-size: 22px; }
.fs-23 { font-size: 23px; }
.fs-24 { font-size: 24px; }
.fs-25 { font-size: 25px; }
.fs-26 { font-size: 26px; }
.fs-27 { font-size: 27px; }
.fs-28 { font-size: 28px; }
.fs-29 { font-size: 29px; }
.fs-30 { font-size: 30px; }
.fs-31 { font-size: 31px; }
.fs-32 { font-size: 32px; }
.fs-33 { font-size: 33px; }
.fs-34 { font-size: 34px; }
.fs-35 { font-size: 35px; }
.fs-36 { font-size: 36px; }
.fs-37 { font-size: 37px; }
.fs-38 { font-size: 38px; }
.fs-39 { font-size: 39px; }
.fs-40 { font-size: 40px; }
.fs-41 { font-size: 41px; }
.fs-42 { font-size: 42px; }
.fs-43 { font-size: 43px; }
.fs-44 { font-size: 44px; }
.fs-45 { font-size: 45px; }
.fs-46 { font-size: 46px; }
.fs-47 { font-size: 47px; }
.fs-48 { font-size: 48px; }
.fs-49 { font-size: 49px; }
.fs-50 { font-size: 50px; }
/* Font Weights */
.fw-100 { font-weight: 100; }
.fw-200 { font-weight: 200; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: 400; }
.fw-500 { font-weight: 500; }
.fw-600 { font-weight: 600; }
.fw-700 { font-weight: 700; }
.fw-800 { font-weight: 800; }
.fw-900 { font-weight: 900; }



